*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image:url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 112vh;
    

}
.quote{
    position: relative;
    text-align: right;
    padding-left: 600px;
    padding-top: 160px;
    padding-right: 200px;
    color: white;
    
}
.quote p{
    font-size: small;
}
.btn{
    padding: 10px;
    font-weight: bold;
    color: rgb(5, 91, 119);

}

/*  Section 2 */



.ul li:before{
content: '\2713';
color: green;
} 

.ul li
{
    list-style-type: none;
    font-size: 0.8rem;
}
.section2{
    display:flex;
}
.manphoto img{
     height:500px;
    

}
.manphoto{
    padding-left: 120px;
    padding-top: 45px;

}
.my-failure{
    padding-right:220px;
    padding-top: 190px;
    padding-left: 45px;
    
}
.my-failure p{
    font-size: 0.9rem;
}

/* My Plan Section */



.my-plan h2{
    text-align: center;
}
.my-plan{
    padding-top: 50px;
}

.my-plan-section{
    display: flex;
    padding-top: 50px;
    padding-left: 180px;
}
.my-plan-section div{
    padding: 20px;
    text-align: center;
   
}